.matchableProfileImage {
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
}

.heartCarousel {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.heartControls {
  flex: 0 0 170px;
}

.heartRoot {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
}

.heartControlFloatingButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: none;
}

.heartControlSummaryContainer {
  margin-left: 26px;
  margin-right: 26px;
}

.heartControlSummaryMatchRate {
  color: #ED3F45;
}
.heartControlSummaryName {
  color: black;
}
.heartControlSummaryDistance {
  color: #7C7C7C;
}
