.committmentImageContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  border-radius: 100%;
  overflow: hidden;
}

.committmentImageContainer.right {
  right: 50%;
  transform: translateX(15%);
}

.committmentImageContainer.left {
  left: 50%;
  transform: translateX(-15%);
}

.committmentImage {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.committmentDoubleImageContainer {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.committmentTitle {
  flex: 0 0 17px;
  color: #ED3F45;
}

.committmentRoot {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.committmentImageCombined {
  width: 100%;
  height: auto;
}

.committmentSecondaryRoot {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.committmentStartTalking {
  width: 70%;
}

.committmentCancel {
   border: 0;
   background: 0;
   text-decoration: underline;
   color: #474747;
   margin-top: 20px;
   font-size: 17px;
}
