.root {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  transform: translateX(100%);
  transition: transform 0.5s;
  overflow: hidden;
  flex-direction: column;
}

.active {
  transform: translateX(0%);
}

.answered {
  transform: translateX(-100%);
}

.questionTagLineContainer {
  position: relative;
  flex: 0 0 80px;
}

.questionTagline {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  color: red;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}

.questionIcon {
  display: block;
  margin: auto;
  height: auto;
  flex-grow: 1;
  padding-bottom: 10px;
}

.questionPrompt {
  display: block;
  color: #474747;
}

.questionAnswerArea {
  box-sizing: border-box;
  background-color: #EFF3F7;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  flex: 0 0 200px;
}

.questionAnswerList {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: auto;
}

.questionAnswer {
  width: 120px;
  height: 50px;
  border-radius: 30px;
  color: white;
  background-color: #ED3F45;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 17px;
  margin-right: 10px;
  margin-left: 10px;
  border: 0;
}

.questionCurve {
  background-image: url('../../assets/curve.svg');
  background-position: bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  flex: 0 0 20px;
}
